body{
    background-color: #1e202b;
}
header{
    padding: 50px 0;
}

.text_weather{
    vertical-align: middle;
    line-height: .3;
}
small{
    color: #bfc1c8;
    font-size: .625rem;
}
.toggle{
    background: none;
    border: 2px solid transparent;
    color: white;
    padding: 20px;
    border-radius: 40px;
    transition: 0.3s ease;
    display: none;
    outline: none;
}
a{
    text-decoration: none;
    color: #fff;
    padding: 5px 25px;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: .3s ease ;
   
}
ul{
    display: flex;
    gap: 10px;
}
.home, a:hover:not(.home, .home-logo) {
    border-color: #009ad8;
    color: #009ad8;
}
.home-mob{
    color: #009ad8;
}
.menu-mob{
    background: #262936;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: .625rem;
    list-style: none;
    padding: 1.25rem;
}
.menu-mob li{
    line-height: 35px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.mobile-nav{
    padding: 20px;
}
footer{
    background: #262936;
    padding: 50px 0;
}
input{
    border: none;
}

input:focus {
    border: none; 
    outline: none;
    box-shadow: none;
}
.button{
    background: #009ad8;
    padding: 10px 20px;
    color: #fff !important;
    border-radius: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    padding: 0 40px; 
}
input[type="submit"]{
    background: #009ad8;
    padding: 10px 20px;
    color: #fff !important;
    border-radius: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
    border-radius: 50px;
}
.social-links {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-left: 50px;
}
.social-links a {
    flex-direction: row;
    width: 45px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #1e202b;
    color: #009ad8;
    transition: all 0.3s ease;
    font-size: 1.4285714286em;
    transition: .4s ease;
}
.social-links a:hover {
    background: #009ad8 !important;
    color: white;
}

.text{
    padding: 15px 100px 20px 20px;
    background: #1e202b;
    width: 100%;
    color: white;
    border-radius: 40px;
}


.weather {
    min-height: 350px;
    padding: 70px 0;
    background-image: url(../images/banner.png);
}

.card_container{
    background: #323544;
    border-radius: 10px;
    transform: translateY(-160px);
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}



.col1 .title , .col3 .title{
    height: 40px;
    background-color: #2D303D;
    color: #BFC1C8;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;

}
.col1{
    background-color: #323544;
    color: white;
    
    
}
.col1 .info .country{
    color:#BFC1C8;
    line-height:27px;
    font-size:18px;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
}
.col1 .info span{
    color: #FFFFFF;
    font-size:90px;
    line-height:135px;
    font-weight:700;
}
.col1 .info .status{
    color: #009AD8;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height:21px;
    font-size: 14px;
}
.col1 .info .icons{
    color: #898A8F;
}

.col2{
    background-color: #262936;
}
.col2 .title{
    background-color: #222530;
    color: #BFC1C8;
    height: 40px;

    
}
.col2 .deg , .col3 .deg{
    color: white;
    font-size:24px;
    font-weight:700
}
.col2 .deg2 , .col3 .deg2 {
    color: #BFC1C8;
    font-weight: 300;
    font-size: 16px;
}
.col2 .status , .col3 .status{
    color: #009AD8;
    font-weight: 300;
    font-size: 14px;
}

.col3{
    background-color:#323544;
    border-top-right-radius: 5%;

}
#body{
        padding: 20px;
}




